.image{
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    border-radius: 50%;
}
.margin-top{
    margin-top: 5vh;
}
.center{
text-align: center;    
}
.box{
    padding: 5px;
    color: white;
}
/* Temp Backgorund placeholder */
.tempBackground{
    background: rgb(103, 103, 230);
}
/* add these classes on fav color request */
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
.yellow{
    background: yellow;
}
.pink{
    background: pink;
}